
body{

  margin: 0;
  padding: 0;
}/*end*/


#firstdiv {
	
	background-image: url("images/second.jpg") ;
	background-repeat: no-repeat;
  background-size: cover;
	overflow: auto;
	max-width: 100%;

}/*end*/


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
 	  position: sticky;
    top: 0;

}

li {
    float: left;
    width:25%;
    font-size: 2vw;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    text-decoration: none;
}/*end*/

li a:hover {
    
    background-color: #111;
}/*end*/


#seconddiv{
	background-color: lightblue;
	height: auto;
	padding: 4vw;
	display: flex;
  flex-wrap: wrap;
 font-size: 2vw;

  }/*end*/


#prophoto{
  
  width: 40vw;
	margin-left: 10vw: 
}/*end*/


#thirddiv{
  
  background-color: black;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  
}/*end*/

.flex {
  
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
 
}/*end*/

.space{

  color: white;
  text-align: center;

}/*end*/


#fourthdiv{
  background-color: lightblue;
  height: auto;
  padding-top: 3vw;
  padding-bottom: 2vw;

}/*end*/

.wrap{

  display: flex;
  flex-wrap: wrap;

}/*end*/

.alignphoto{
  
  padding-left: 5vw;

}/*end*/

.project{
  text-align:center; 
  color: white;
}/*end*/

#fifthdiv{
  background-color: black;
  height: auto;
  padding-top: 3vw;
  padding-bottom: 3vw;
  
  }/*end*/


 .internal{
  padding-right: 8vw;
  padding-left: 8vw;
 } /*end*/




/*for large size devices*/

@media screen and (min-width: 780px){


#text{
  width:50vw;
  height:359px; 
  float: right;
  color: white;
  font-size: 3.4vw;
  padding-top: 5.5vw;
  padding-right: 30px;
}

#firstdiv{

height:80%;
}
	
#about{
		
    width:45vw;
    font-size: 100%;
	}


#prophoto{
    
      width:35vw;
      height: 35vw;
    	padding-left: 3vw;

     }
 
 .space{
    width:20vw;
    height:20vw;
    margin-left: 50px;
    margin-bottom: 50px;
    padding-right: 5vw;
   }
 
 .alignphoto{
  width: 40vw;
  
 }

.project{
  
  font-size: 2.5vw;
}

}/*end*/


/*for medium size devices*/

@media screen and (max-width: 779px) and (min-width: 550px){
 
 #text{
    width:47vw;
    height:30%; 
    float: right;
    color: #013567;
    font-size: 3.5vw;
    padding-top: 187px;
    padding-right: 10px;
}


#firstdiv{

height:400px;
}
	

#about{
		width:100vw;
    font-size: 3.5vw;
	}

 #prophoto{
    	width:60vw;
      height: 70vw;
      padding-left: 10vw;   
    	padding-right: 10vw;
    }

.space{
width:20vw;
height:20vw;
margin-left: 50px;
margin-bottom: 50px;
padding-right: 3vw;
}

.alignphoto{
width: 85vw;

}

 .project{
font-size: 4vw;
}
  
}/*end*/



/*for small devices*/

@media screen and (max-width: 549px) 

{

#text{
    width:47vw;
    height:30%; 
    float: right;
    padding-top:145px;
    color: white;
    font-size: 3.5vw;
   
    
}

#firstdiv{

height:300px;

}

#about{
    width:100vw;
    font-size: 3.5vw;
  }

 #prophoto{
      width:50vw;
      height: 50vw;
      padding-left: 20vw;
      
    }


.space{
width:40vw;
height:40vw;
margin-left:10px;
margin-bottom: 20px;
}
.alignphoto{
width: 85vw;

}

.project{
font-size: 5vw;
}

}/*end*/



